*{margin:0 auto;
    padding:0;}

    body
    {
        font-family:arial;

    }

    #container
    {
        width:100%;
        margin:0px auto;
        overflow:hidden;
        position:relative;
    }

    #header
    {
        width:100%;
        height:40px;
        background:#141414;
        background:linear-gradient(top,#303030 30%,#151515 100%);
        background:-webkit-linear-gradient(top,#303030 30%,#151515 100%);
        background:-moz-linear-gradient(top,#303030 30%,#151515 100%);
        background:-o-linear-gradient(top,#303030 30%,#151515 100%);
        background:-ms-linear-gradient(top,#303030 30%,#151515 100%);
        overflow:hidden;
    }
    #nav{
        width: 980px;
        height: 40px;
    }
    #header #logo
    {
        float:left;
        margin:8px 0 0 12px;
        margin-right:19px;
    }

    #header ul
    {
        float:left;
    }

    #header ul li
    {
        float:left;
        list-style:none;
        border-right:1px solid #141414;
    }

    #header ul li a
    {
        float:left;
        color:#fff;
        text-decoration:none;
        font-family:tahoma;
        font-size:12px;
        font-weight:bold;
        padding:13px;
        text-shadow:1px 1px #000;
        border-left:1px solid #343434;
        border-right:1px solid #343434;
        border-bottom:1px solid #343434;
    }

    #header ul li a:hover
    {
        background:#0363a2;
        border:none;
        padding:13px 14px;
    }

    #header #search
    {
        float:left;
        position:relative;
        border-left:1px solid #343434;
        border-right:1px solid #343434;
        border-bottom:1px solid #343434;
        margin-top:1px;
    }

    #header #text-search
    {
        width:184px;
        height:22px;
        border:none;
        border-radius:15px;
        -webkit-box-shadow:inset 2px 2px 3px #282828;
        background:#555;
        margin:8px 10px;
        color:white;
        padding-left:10px
    }

    #header #text-search:focus
    {
       outline: none;
   }

   #header #button-search
   {
    width:14px;
    height:14px;
    border:none;
    background:url(../resources/header/button-search.png) no-repeat;
    position:absolute;
    top:13px;
    left:182px;
    cursor:pointer;
}

#header #user #login
{
    float:left;
    border-left:1px solid #141414;
    border-right:1px solid #141414;
}

#header #user #login a img
{
    padding:11px;
    border-left:1px solid #343434;
    border-right:1px solid #343434;
    border-bottom:1px solid #343434;
}

#header #user #login a img:hover
{
    background:-webkit-linear-gradient(top,#414141 10%,#212121 100%);
    background:-moz-linear-gradient(top,#414141 10%,#212121 100%);
    background:-o-linear-gradient(top,#414141 10%,#212121 100%);
    background:-ms-linear-gradient(top,#414141 10%,#212121 100%);
}

#header #user #dropdown
{
	display:none;
    width:240px;
    background:#313131;
    border-radius:0 0 3px 3px;
    position:absolute;
    top:40px;
    right:18px;
    box-shadow:0 3px 6px rgba(0,0,0,.7);
    overflow:hidden;
}

#header #user #dropdown p
{
    float:left;
    font-family:arial;
    font-size:13px;
    color:#fff;    
    text-align:center;
    margin:15px 20px 0px;
}

#header #user #dropdown a img
{
    float:left;
    margin-right:7px;
}

#header #user #dropdown a
{
    float:left;
    font-family:arial;
    font-size:12px;
    color:#fff;
    text-decoration:none;   
    border:1px solid #474747;
    border-radius:3px;
    padding:8px;
    margin:15px 35px;
    background:#474747;
    background:-webkit-linear-gradient(top,#474747 0%,#3e3e3e 100%);
    background:-moz-linear-gradient(top,#474747 0%,#3e3e3e 100%);
    background:-o-linear-gradient(top,#474747 0%,#3e3e3e 100%);
    background:-ms-linear-gradient(top,#474747 0%,#3e3e3e 100%);
    box-shadow:0 2px 2px rgba(0,0,0,.2);
}

#header #user #dropdown a:hover
{
    border:1px solid #5e5e5e;
    background:#575757;
    background:-webkit-linear-gradient(top,#575757 0%,#4b4b4b 100%);
    background:-moz-linear-gradient(top,#575757 0%,#4b4b4b 100%);
    background:-o-linear-gradient(top,#575757 0%,#4b4b4b 100%);
    background:-ms-linear-gradient(top,#575757 0%,#4b4b4b 100%);  
}





#content
{

    width:980px;
    margin-top:30px;
    overflow:hidden;
    box-shadow: 0px 7px 7px 0px #d2d2d2;

}

#left-content
{
    float:left;
    width:709px;
}

#menu-content
{
    float:left;
    width:80px;
    background:#0363a2;    
    overflow:hidden;
    margin-top:15px;
    height: 1445px;
}

#menu-content .ul-news-top
{
    float:left;
    margin-bottom: 21px;
}

#menu-content .ul-news-top li
{
    list-style:none; 
}
#menu-content .ul-news-top li a{
    text-decoration:none;
    color:#fff;
    font-size:11px;
    display:block;
}

#menu-content .ul-news-top li
{
    text-decoration:none;
    color:#fff;
    font-size:11px;
    padding:6px 10px 6px;
    display:block;
    border-bottom:1px solid #204e76;
    border-top:1px solid #3f7bb0;
    cursor: pointer;
}

#menu-content .ul-news-top li:hover
{
    background:#1f507b;
    box-shadow:inset 0px 1px 2px #0f3557;
    border-top:none;
    padding:7px 10px 6px;
}

#menu-content .ul-news-top li:first-child a
{
    text-transform:uppercase;
    font-weight:bold;
}

#menu-content .ul-news-top li:last-child
{
    border-bottom:1px solid #3f7bb0;
}

#menu-content #img-fun
{
	float:left;
	margin-top:335px;
}

#menu-content #ul-xu-huong
{
	float:left;
	margin-top:446px;
}

#menu-content #ul-funny
{
	float:left;
	margin-top:95px;
	margin-bottom:185px;
}

#news
{
    float:right;
    width:629px;
    overflow:hidden;
}
#featured{ 
    width:629px; 
    padding-right:20px; 
    position:relative;
    height:435px; 
    margin-bottom: 20px;
}
#featured ul.ui-tabs-nav{ 
    position: absolute;
    top: 0;
    left: 461px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 167px;
    height: 435px;
}
#featured ul.ui-tabs-nav li{ 
    position:relative;
    overflow:hidden;
    font-size:12px; 
    color:#666; 
    width: 167px;
    height: 145px;
}
#featured ul.ui-tabs-nav li img{ 
    float:left;
    border:1px solid #eee;
}
#featured ul span{ 
    width: 167px;
    height: 40px;
    font-size:14px; 
    position: absolute;
    background: -webkit-linear-gradient(top,rgba(69,69,69,0.7) 0%,rgba(33,32,31,0.8) 100%);
    background: -moz-linear-gradient(top,rgba(69,69,69,0.7) 0%,rgba(33,32,31,0.8) 100%);
    background: -o-linear-gradient(top,rgba(69,69,69,0.7) 0%,rgba(33,32,31,0.8) 100%);
    background: -ms-linear-gradient(top,rgba(69,69,69,0.7) 0%,rgba(33,32,31,0.8) 100%);
    bottom: 0;
    border-top: 1px solid #3f3c3e;
    font-family:Arial, Helvetica, sans-serif;
    top: 105px;
    left: 1px;
    padding:5px;
}
#featured li.ui-tabs-nav-item a{ 
    display:block; 
    color:#fff;  
    line-height:15px;
    text-decoration: none;
    width:175px;
    height:145px;
}
#featured .ui-tabs-panel{ 
    width:400px; 
    height:250px; 
    position:relative;
    left: -113px;
}
#featured .ui-tabs-panel .info{ 
    width:460px;
    height:80px;
    position: absolute;
    background: -webkit-linear-gradient(top,rgba(69,69,69,0.7) 0%,rgba(33,32,31,0.8) 100%);
    background: -moz-linear-gradient(top,rgba(69,69,69,0.7) 0%,rgba(33,32,31,0.8) 100%);
    background: -o-linear-gradient(top,rgba(69,69,69,0.7) 0%,rgba(33,32,31,0.8) 100%);
    background: -ms-linear-gradient(top,rgba(69,69,69,0.7) 0%,rgba(33,32,31,0.8) 100%);
    bottom: 0;
    border-top: 1px solid #3f3c3e;
    top:355px;
}
#featured .info h2{ 
    font-size:18px; 
    font-family:Georgia, serif; 
    color:#fff; 
    padding:5px; margin:0;
    overflow:hidden; 
}
#featured .info p{ 
    margin: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #f0f0f0;
    padding: 0px;
}
#featured .info a{ 
    text-decoration:none; 
    color:#fff; 
}
#featured .info a:hover{ 
    text-decoration:underline; 
}
#featured .ui-tabs-hide img{

}
#featured .ui-tabs-hide{ 
    display:none; 
}
.text-news
{
    position:absolute;
    background:-webkit-linear-gradient(top,rgba(69,69,69,0.7) 0%,rgba(33,32,31,0.8) 100%);
    background:-moz-linear-gradient(top,rgba(69,69,69,0.7) 0%,rgba(33,32,31,0.8) 100%);
    background:-o-linear-gradient(top,rgba(69,69,69,0.7) 0%,rgba(33,32,31,0.8) 100%);
    background:-ms-linear-gradient(top,rgba(69,69,69,0.7) 0%,rgba(33,32,31,0.8) 100%);
    bottom:0;
    border-top:1px solid #3f3c3e;
}

#text-news
{
    width:462px;
    height:53px;
}

.text-news a
{
    float:left;
    text-decoration:none;
    color:#fff;
    font-size:18px;
    margin:7px 5px;
}

.text-news a:hover
{
    text-decoration:underline;
}

.img-news-left
{
    float:right;
}

.img-news-2
{
    position:relative;
    overflow:hidden;
}

.img-news-2 a
{
	float:left;
}

#text-news-2
{
    width:167px;
    height:45px;
}

.text-news p
{
    color:#fff;
    font-size:14px;
    margin:5px;
}




#Wrapper {
    width:635px;
    height:auto;
    overflow: hidden;
}
.sumary{
    width:190px;
    height: 160px;
    float:left;
    border: 1px solid #d2d2d2;
    position: relative;
    opacity: 1;
    margin-left:9px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.tittle {
    width: 178px;
    height: 40px;
    float:left;
    position: absolute;
    margin-top: -40px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(1,1,1,0.8)), color-stop(100%,rgba(42,42,42,.9)))transparent;
    background: -moz-linear-gradient(rgba(1,1,1, 0.8) 0%, rgba(1,1,1, .9) 90%);
}
.tittle a p{
    color: #ffffff;
    font: 12px Arial, Helvetica, sans-serif;
    line-height: 15px;
    padding: 7px;
}
.image{
    width:178px;
    height:148px;
    padding:7px;
}
.button {
    width: 135px;
    height: 35px;
    overflow: hidden;
    position: relative;
}
.button b{
    position: absolute;
    top: 8px;
    left: 40px;
    color: #666666;
}


#xu-huong
{
    float:left;
    width:629px;
    height: 175px;
    overflow:hidden;
    background:url(../resources/cn/xu-huong/noise-xu-huong.png)   ;
    margin-top: 5px;
}

.img-xu-huong
{
    float:left;
    width:139px;
    height:109px;
    
    background: url(resources/cn/xu-huong/box-shadow-xu-huong.png);
    margin:17px 0 0 14px;
}

.img-xu-huong img
{
 margin:9px; 
 width: 120px;
 height: 90px;
}

.img-xu-huong a
{
    text-decoration:none;
}

.img-xu-huong p
{
    font-size:13px;
    margin:0px 0 0 10px;
    font-weight:bold;
    color:#333;
}

#funny
{
	float:left;
	overflow:hidden;
    margin-top: 18px;
    width: 629px;
height: auto;
}
.news-funny
{
	float: left;
margin-right: 5px;
padding-bottom: 10px;
margin-bottom: 10px;
margin-left: 7px;
border: 1px solid #EEEEEE;


}

.news-funny a 
{
    float:left;
    text-decoration:none;
    color:#333;
    width: 300px;
    margin-top: 4px;
}


.news-funny a i
{
    float:left;
    width:114px;
    height:71px;
    background:url(resources/cn/funny/box-shadow-funny.png) no-repeat;
    margin:5px 10px 0 15px;
    box-shadow: -4px 5px 5px 1px #D2D2D2;
}

.news-funny a i img
{
    float:left;
    width: 113px;
    height: 71px;
}

.news-funny a h4
{
    margin-top: 10px;
    font-size:15px;
    font-weight:bold;
}

.news-funny a p
{
    font-size:13px;
    line-height:15px;
    margin-top:5px;
}
.text-slide
{
    float:left;
    margin:3px 0 0 13px;
}

.text-slide h4
{
    font-size:12px;
    font-weight:bold;
}

.text-slide h4:hover
{
    text-decoration:underline;
}

.text-slide p
{
    float:left;
    font-size:11px;
}

.shadow-content
{
    float:left;
    overflow: hidden;
    margin-top: -30px;	
}

.shadow-content img
{    margin-top:-20px;
    margin-left:5px;

}

#right-content
{
    width:271px;
    height: 1445px;
    float:right;
    margin-top:15px;
    background:#0363a2;
    overflow:hidden;
}
#right-content a 
{
    color: #fff; 
}
.news-hot
{
    float:left;
    list-style:none;
    border-bottom:1px solid #3f7bb0;
}
.news-hot img {
    width: 70px;
    height: 60px;
}
.news-hot h4
{
    float:left;
    border-bottom:2px solid #fa5f00;
    font-weight:bold;
    text-transform:uppercase;
    font-size:14px;
    color:#fff;
    padding:20px 205px 15px 10px;
}

.news-hot-1
{
    float:left;
    border-top:1px solid #3f7bb0;
    border-bottom:1px solid #204e76;
}
.first-child
{
    border-top:none;
}

.news-hot-1 a
{
    text-decoration:none;
}

.news-hot-1 a img
{
    float:left;
    margin:5px;
    -webkit-transition:all linear 0.3s;
    -moz-transition:all linear 0.3s;
    -o-transition:all linear 0.3s;
    -ms-transition:all linear 0.3s;
}

.news-hot-1 a img:hover
{
    opacity:0.8;
    -webkit-transition:all linear 0.3s;
    -moz-transition:all linear 0.3s;
    -o-transition:all linear 0.3s;
    -ms-transition:all linear 0.3s;
}

.text-news-hot
{
    float:left;
    padding-right:17px;
    width: 160px;
}

.text-news-hot p
{
    font-size:12px;
    margin:10px 0 5px 0;
}

.text-news-hot p a
{
    color:#fff;
}

.text-news-hot p a:hover
{
    text-decoration:underline;
}

.text-news-hot span
{
    font-size:11px;
    margin-top:5px;
    color:#fff;
}

.text-news-hot span a
{
    color:#ff9600;
}

.text-news-hot span a:hover
{
    text-decoration:underline;
}

.news-random
{
    float:left;
    list-style:none;
    border-bottom:1px solid #3f7bb0;
    height: 265px;
}

.news-random h4
{
    float:left;

    padding:20px 170px 15px 10px;
    border-bottom:2px solid #fa5f00;
    font-weight:bold;
    text-transform:uppercase;
    font-size:14px;
    color:#fff;
}

table {
	border-collapse:separate;
	border-spacing:0;
}
caption, th, td {
	text-align:left;
	font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/*===================*/
/*=== Main Styles ===*/
/*===================*/

a, a:visited {
	color:#2d3536;
	text-decoration:none;
}
a:hover, a:active {
	color:#9e805c;
	text-decoration:none;
}
.news-random ul
{
    float:left;
    overflow: hidden;

}
.news-random ul li img{
   border: 1px solid #d2d2d2;
}

.img-news-random
{
    float:left;
    margin:10px 0 0 43px;
    
}

.news-random ul a p
{
    float:left;
    margin:10px 60px 15px 60px;
    color:#fff;
    font-size:12px;
    font-weight:bold;
}

.news-random ul a p:hover
{
    text-decoration:underline;
}

.button-news-random
{
    float:right;
    margin:0 20px 11px 0;
}

.top-view
{
    float:left;
    list-style:none;
    border-bottom:1px solid #3f7bb0;
    overflow:hidden;


}

.top-view h4
{
    float:left;
    border-bottom:2px solid #fa5f00;
    font-weight:bold;
    text-transform:uppercase;
    font-size:14px;
    color:#fff;
    padding:20px 175px 15px 10px;
}


.backgroud-number
{
    float:left;
    color:rgba(255,255,255,0.8);
    font-size:36px;
    font-weight: normal;
    padding: 6px;
}

.view-left img
{
    float:left;
    opacity:0.2;
    margin-right:10px;
    margin-right: 10px;
    margin-top: 9px;
    margin-left: -5px;
}

.view-left a
{
    color:#fff;
    text-decoration:none;
    font-weight:bold;
    font-size:12px;
    margin: 5px 65px 5px 0;
}

.view-left a:hover
{
    text-decoration:underline;
}

.view-left p
{
    color:#fff;
    font-size:10px;
    color:#16c9e9;
}

.ul-first-child
{
    border-top:none;
}
a:link {
	color: #0054a6;
	text-decoration: none;
}
#list {
	height: 160px;
	width: 980px;
	background-image:url(../resources/images/noise-xu-huong.png);
	overflow: hidden;
    position: relative;
}
.slider {
	height: 150px;
    top: 30px;
    margin-left: 62px;
    visibility: visible;
    overflow: hidden;
    z-index: 2;
    left: 0px;
    width: 850px;

}
.slider ul {
	height: 120px;
	width: 600px;
	margin: 0px;
    padding: 0px;
    list-style-type: none;
    z-index: 1;
    width: 2890px;
    left: -850px;
}
.slider ul li a {
	background-image:url(../resources/images/box-shadow-slide.png);
	float: left;
    width: 115px;
    height: 80px;
    text-decoration: none;
    color: #333;
    margin-right: 45px;
}
.slider ul li {
    padding: 0 20px;
    overflow: hidden;
    float: left;
    width: 130px;
    height: 120px;
}
.slider ul li img {
	cursor: pointer;
    height: 75px;
    width: 110px;
    padding: 8px;
}
.slider ul li img:hover {
	opacity: 0.7;
	-webkit-transition: all linear 0.3s;
	-moz-transition: all linear 0.3s;
	-o-transition: all linear 0.3s;
	-ms-transition: all linear 0.3s;
}
.prev{
	background: url(../resources/icon-button.png) 0px;
	position: absolute;
	width: 43px;
	height: 42px;
	border: none;
	top: 55px;
}
.next{
	position: absolute;
	width: 43px;
	height: 42px;
	border: none;
	top: 55px;
	background: url(../resources/icon-button.png) 43px;
    left: 935px;
}
.text p span{
    color: red;
}
/************************************************
	      CAPTIFY CAPTION		
          ************************************************/
          .caption-top, .caption-bottom {
           background: #000000;
           color: #ffffff;
           cursor: default;
           padding: 2px;
           font-size: 11px;
           text-align: center;
       }
       .caption-top {
           border-width: 0px;
       }
       .caption-bottom {
           border-width: 0px;
       }
       .caption a, .caption a {
           background: #000;
           border: none;
           text-decoration: none;
           padding: 2px;
       }
       .caption a:hover, .caption a:hover {
           background: #202020;
       }
       .view-left{
        width: 72px;
        float: left;

    }
    .view-right{
      width: 198px;
      float: left;
      overflow: hidden;
  }
  .text {
   float: left;
   padding: 10.5px;

}
.text h4 {
 font-size: 12px;
 font-weight: bold;
}
.text h4:hover {
	text-decoration: underline;
}
.text p {
	float: left;
	font-size: 11px;
    margin-left: 5px;
}
.view-right .text p span {
	color: #fff;
}
#shaw-dow{

   background: url(../resources/cn/shadow-content.png);

}
#foot
{
    width:980px;
    margin-top:10px;
    background:url(../resources/foot/noise-foot.png);
    overflow: hidden;
}

.arr
{
    width:980px;
    height:7px;
    background:url(../resources/foot/arr.png) repeat-x;
    margin-top:-7px;
}

.copy-right
{
    float:right;
    margin:15px 20px 0 0;
}

.copy-right p
{
    float:left;
    font-size:12px;
    color:#999;
    margin:3px 40px 0 0;
}

.copy-right ul
{
    float:left;
}

.copy-right ul li
{
    float:left;
    list-style:none;
}

.soc-fb
{
    float:left;
    width:20px;
    height:22px;
    background:url(../resources/foot/icon-link.png);
}

.soc-tw
{
    float:left;
    width:30px;
    height:22px;
    background:url(../resources/foot/icon-link.png) -25px;
}

.soc-google
{
    float:left;
    width:32px;
    height:22px;
    background:url(../resources/foot/icon-link.png) -56px;
}

.soc-tumblr
{
    float:left;
    width:19px;
    height:22px;
    background:url(../resources/foot/icon-link.png) -88px;
}

.logo-foot
{
    float:left;
    margin:60px 30px 0 3px;
}

.information-left
{
    float:left;
    font-size:14px;
    width:400px;
    margin:53px 0 30px 0;
    line-height:16px;
    color:#666;

}

.information-right
{
    float:right;
    font-size:14px;
    width:370px;
    margin-top:14px;
    line-height:16px;
    color:#666;
}

.information-left p
{
    margin-bottom:2px;
}

.information-right p
{
    margin-bottom:2px;
}

